body {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}


header {
    height: 4rem;
    display: flex;
    align-items: center;
}


header > img {
    height: 100%;
    padding: 0 1rem;
}

header > h1 {
    vertical-align: middle;

}

nav {
    margin-top: 1rem;
}

nav > a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    margin-top: 1rem;
}

.agenda {
    border-collapse: collapse;
    border: 1px solid black;
}

.agenda > th,td {
    border: 1px solid black;
    padding: 0.5rem;
}