{% extends "base.html" %}

{% macro stateful_link(address="tbc") %}
{% set lower_address = address | lower %}
{% if lower_address == "tbc" %}
To Be Confirmed
{% elif lower_address == "na" %}
Not Available
{% else %}
<a href="{{address}}">{{address}}</a>
{% endif %}
{% endmacro input %}

{% macro supporter(name, section="") %}
{% set supporter_path = "supporters/" ~ name ~ ".md" %}
{% set supporter = get_page(path=supporter_path) %}
{% if supporter %}
{% if section %}
{% set url = get_url(path="@/" ~ supporter_path,trailing_slash=false) ~ "#" ~ section %}
{% else %}
{% set url = supporter.permalink %}
{% endif %}
<a href="{{url}}">
    {% if supporter.extra.logo %}
    <img class="event-supporter-logo" src="{{ supporter.extra.logo }}" alt="{{ supporter.title }} logo"/>
    {% else %}
    {{supporter.title}}
    {% endif %}
</a>
{% endif %}
{% endmacro supporter %}

{% macro location(name) %}
{% set supporter_path = "supporters/" ~ name ~ ".md" %}
{% set supporter = get_page(path=supporter_path) %}
{% if supporter %}
{% if section %}
{% set url = get_url(path="@/" ~ supporter_path,trailing_slash=false) ~ "#" ~ "Getting There" %}
{% else %}
{% set url = supporter.permalink %}
{% endif %}
<a href="{{url}}">
    {{supporter.title}}
</a>
{% endif %}
{% endmacro supporter %}

{% macro time_bound(item) %}
{% if item.start_time and item.end_time %}
{{item.start_time}} - {{item.end_time}}
{% elif item.start_time %}
{{item.start_time}}
{% elif end_time %}
TBC - {{item.end_time}}
{% endif %}
{% endmacro time_bound %}

{% block title %}
CSLUG {{ page.title }}
{% endblock title %}

{% block content %}
<h1>CSLUG {{page.title}}</h1>
<table>
    <tr>
        <td>
            Date
        </td>
        <td>
            {{page.date | date(format="%A %e %B %Y")}}
        </td>
    </tr>
    <tr>
        <td>
            Time
        </td>
        <td>
            {{page.extra.time}}
        </td>
    </tr>
    <tr>
        <td>
            Location
        </td>
        <td>
            {{self::location(name=page.extra.location)}}
        </td>
    </tr>
    <tr>
        <td>
            In Person Signup
        </td>
        <td>
            {{self::stateful_link(address=page.extra.on_site_signup)}}
        </td>
    </tr>
    <tr>
        <td>
            Discussion Thread
        </td>
        <td>
            {{self::stateful_link(address=page.extra.discussion)}}
        </td>
    </tr>
</table>

<h2>Supported By:</h2>
<div class="supporters-grid">
    <div>
        <h3>Venue Provider</h3>
        <div class="supporter-content">
            {{self::supporter(name=page.extra.location, section="Getting There")}}
        </div>
    </div>
    {% if page.extra.lunch %}
    <div>
        <h3>Food Sponsor</h3>
        <div class="supporter-content">
        {{self::supporter(name=page.extra.lunch)}}
        </div>
    </div>
    {% endif %}
    {% if page.extra.organiser %}
    <div>
        <h3>Organiser</h3>
        <div class="supporter-content">
        {{self::supporter(name=page.extra.organiser)}}
        </div>
    </div>
    {% endif %}
</div>

<h2>Agenda</h2>
{% if page.extra.agenda %}
<table class="agenda">
    {% for item in page.extra.agenda %}
    <tr>
        <td>{{self::time_bound(item=item)}}</td>
        <td>{{item.title}}</td>
        <td>{%if item.speaker %}{{item.speaker}}{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No agenda has been posted yet.</p>
{% endif %}
{{ page.content | safe }}
{% endblock content %}